Movie Explorer/obj/Debug/net8.0/Movie Explorer.GeneratedMSBuildEditorConfig.editorconfig
Movie Explorer/obj/Debug/net8.0/Movie Explorer.AssemblyInfoInputs.cache
Movie Explorer/obj/Debug/net8.0/Movie Explorer.AssemblyInfo.cs
Movie Explorer/obj/Debug/net8.0/project.razor.vscode.bin
Movie Explorer/obj/Debug/net8.0/Movie Explorer.assets.cache
