@page "/"

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<section>
    <form>
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
</section>