@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="search-container">
    <input type="text" class="search-input" @bind="SearchQuery" placeholder="Search...">
    <button class="search-button" @onclick="Search">Search</button>
</div>

@if (MovieInfo != null)
{
    <div class="movie-info">
        <h2>@MovieInfo.Title</h2>
        <p><strong>Year:</strong> @MovieInfo.Year</p>
        <p><strong>Plot:</strong> @MovieInfo.Plot</p>
    </div>
}

@code {
    private string SearchQuery { get; set; }
    private MovieInfo MovieInfo { get; set; }

    private async Task Search()
    {
        OMDBService omdbService = new OMDBService(new HttpClient());
        MovieInfo = await omdbService.GetMovieInfoAsync(SearchQuery);
    }
}