@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
 <div class="search-container">
        <input type="text" class="search-input" placeholder="Search...">
        <button class="search-button">Search</button>
    </div>
